body {
  font-family: 'Times New Roman', serif;
  font-size: 1em;
  background-color: rgb(247,220,110);
  width: auto;
  height: 100px;
  text-align: center;
}
h1, h2 {
  border: 2px solid rgb(20,84,114);
}
#site-navigation a {
  color: #FFF;
  display: block;
  margin: 0.5em 0;
}
#site-navigation a:hover {
  text-indent: 0.5em;
}
#left {
  width: 500px;
  height: 400px;
  background-color: rgb(20,84,114);
  padding: 1em;
  margin: 1em;
  text-align: center;
  position: relative;
  top: 2em;
  left: 100px;
}
#right {
  width: 500px;
  height: 400px;
  background-color: rgb(20,84,114);
  text-align: center;
  position: relative;
  top: 1em;
  left: 700px;
}
#site-logo a {
  color: #FFF;
  display: block;
  position: relative;
  bottom: 50em;
  left: 300px;
}
